<div class="row mt-2">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-body">

        <div class="row mb-1">
          <div class="col-8 col-sm-5 col-md-6 col-lg-4">
            <label class="text-muted" for="clientId">Name</label>
            <div class="input-group input-group-sm">
              <input type="text" value="Michael Spencer" class="form-control rounded-right" name="name" id="name">
            </div>
          </div>
          <div class="col-8 col-sm-5 col-md-6 col-lg-4">
            <label class="text-muted" for="clientId">Age</label>
            <div class="input-group input-group-sm">
              <input type="text" class="form-control rounded-right" value="18" name="name" id="name">
            </div>
          </div>
          <div class="col-8 col-sm-5 col-md-6 col-lg-4">
            <label class="text-muted" for="clientId">Student number</label>
            <div class="input-group input-group-sm">
              <input type="text" value="LC14532" class="form-control rounded-right" name="name" id="name">
            </div>
          </div>

        </div>

        <div class="row mb-1">
          <div class="col-8 col-sm-5 col-md-6 col-lg-4">
            <label class="text-muted" for="clientId">Occupation</label>
            <div class="input-group input-group-sm">
              <input type="text" value="Sales Assistan" class="form-control rounded-right" name="name" id="name">
            </div>
          </div>
          <div class="col-8 col-sm-5 col-md-6 col-lg-4">
            <label class="text-muted" for="clientId">Department</label>
            <div class="input-group input-group-sm">
              <p class="text-muted">Life Cover</p>
            </div>

          </div>
        </div>



        <div class="row mb-1">
          <div class="col-8 col-sm-5 col-md-6 col-lg-4">
            <label class="text-muted" for="clientId">Courses enrolled</label>
            <div class="input-group-sm">
              <select class="form-control">
                <option>
                  Cover for life
                </option>
                <option>
                  Funeral cover intro
                </option>
                <option>
                  Direct selling
                </option>
              </select>
            </div>
          </div>
          <div class="col-8 col-sm-5 col-md-6 col-lg-4">
            <label class="text-muted" for="clientId">View Grade book</label>
            <div class="input-group input-group-sm">
              <a href="">Grade Book</a>
            </div>
          </div>

        </div>

        <div class="row mb-1">
          <div class="col-8 col-sm-5 col-md-6 col-lg-4">
            <label class="text-muted" for="clientId">Year of study</label>
            <ul>
              <li>Y1.1</li>
              <li>Y1.2</li>
              <li>Y2.1</li>
              <li>Y2.2</li>
              <li>Part-Time</li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
